<section class="hero">
  <div class="hero-content">
    <h1>Welcome to ByteMarket</h1>
    <p>
      A simple online shop where users can browse products,
      manage a cart and place orders.
    </p>

    <div class="hero-actions">
      <a routerLink="/products" class="primary-btn">Browse products</a>
      <a routerLink="/login" class="secondary-btn">Login</a>
    </div>
  </div>
</section>

<section class="features">
  <div class="feature-card">
    <h3>Products</h3>
    <p>Browse available items and choose what you want to buy.</p>
  </div>

  <div class="feature-card">
    <h3>Cart</h3>
    <p>Add products to cart and manage yourself selected items.</p>
  </div>

  <div class="feature-card">
    <h3>Orders</h3>
    <p>Place an order and view your personal order history</p>
  </div>
</section>
